#wrapper {
    width: 100%;
    background-color: #abcdef;
    color: #eaeaea;
    font-family: Verdana, Arial, sans-serif;
}

p {
    padding: 1.5em;
    font-size: 1.2em;
}

header {
    background-color: #ff4c22;
}

nav {
    background-color: #123456;
}

section {
    background-color: #34aa94;
}

article {
    background-color: #787878;
}

aside {
    background-color: chocolate;
}

footer {
    background-color: darkgreen;
}