body {
  color: #4b4a4a;
  font-family: Verdana, Arial, sans-serif;
  padding: 15px;
  background-color: #fff;
  /*Aanvullen: breedte + gecentreerd*/
}

h1 {
  color: #004990;
  font-weight: 700;
  font-size: 1.25em;
  margin: 15px 0 15px 0;
}
h3 {
  margin: 5px 0 0 0;
  color: #004990;
  font-weight: 600;
  font-size: 1em;
}
p {
  font-size: 0.9em;
  line-height: 1.7em;
  margin-bottom: 10px;
}

header {
  margin: 20px;
  overflow: auto;
}

header > aside {
  /*Aanvullen*/
  width: 250px;
  padding-left: 10px;
  border-left: 0px solid white;
}

section {
  /*Aanvullen*/
  margin-right: 1em;
}

article {
  margin-bottom: 10px;
  overflow: auto;
}

article .garage {
  /*Aanvullen*/
  margin-left: 5px;
}

figure {
  /*Aanvullen*/
  margin-bottom: 25px;
  width: 30%;
}
figure > img {
  /* maximale breedte img instellen*/
  border: 1px solid grey;
  border-radius: 5px;
}

aside {
  /* aanvullen breedte en op de juiste plaats */
  border-left: 1px grey solid;
  padding-left: 1em;
}

/*footer moet onderaan staan*/
footer {
  background-color: #004990;
  padding: 0.1em;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
}
